<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    <title>JOB-SERVER|添加任务</title>
    <meta name="description" content="simple and responsive tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="${base}assets/img/favicon.png" type="image/x-icon">
    <!--Basic Styles-->
    <link href="${base}assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
    <link href="${base}assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/weather-icons.min.css" rel="stylesheet"/>
    <!--Beyond styles-->
    <link href="${base}assets/css/beyond.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/demo.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/typicons.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/animate.min.css" rel="stylesheet"/>
    <link id="skin-link" href="" rel="stylesheet" type="text/css"/>
    <script src="${base}assets/js/skins.min.js"></script>
</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Loading Container -->
<div class="loading-container">
    <div class="loading-progress">
        <div class="rotator">
            <div class="rotator">
                <div class="rotator colored">
                    <div class="rotator">
                        <div class="rotator colored">
                            <div class="rotator colored"></div>
                            <div class="rotator"></div>
                        </div>
                        <div class="rotator colored"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
        <div class="rotator"></div>
    </div>
</div>
<!--  /Loading Container -->
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <span class="manage-logo">JOB-SERVER管理后台</span>
            </div>
        </div>
    </div>
</div>
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <div class="sidebar-header-wrapper">
            </div>
            <ul class="nav sidebar-menu">
                <li class="active open">
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-table"></i>
                        <span class="menu-text"> 任务管理 </span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="${base}monitor/jobList">
                                <span class="menu-text">任务列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="${base}monitor/monitor">
                        <i class="menu-icon fa fa-envelope-o"></i>
                        <span class="menu-text"> 监控 </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        任务管理
                        <small>
                            <i class="fa fa-angle-right"></i>
                            添加任务
                        </small>
                    </h1>
                </div>
                <!--Header Buttons-->
                <div class="header-buttons">
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a class="refresh" id="refresh-toggler" href="">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a class="fullscreen" id="fullscreen-toggler" href="#">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
                <!--Header Buttons End-->
            </div>
            <!-- /Page Header -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="alert alert-success fade in" style="display:none;">
                    <button class="close" data-dismiss="alert">×</button>
                    <i class="fa-fw fa fa-check"></i>
                    <strong>Success</strong> <span id="successMsg">保存成功</span>
                </div>
                <div class="alert alert-danger fade in radius-bordered alert-shadowed" style="display:none;">
                    <button class="close" data-dismiss="alert">×</button>
                    <span class="badge badge-success graded">0</span>
                    <strong>error</strong> <span id="errorMsg"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="widget">
                            <div class="widget-header bordered-left bordered-red">
                                <span class="widget-caption">本页面添加的任务会通过soaProxy方式调用</span>
                            </div>
                            <#if (error)??>
                                <div class="alert alert-danger fade in">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>Error!</strong> ${error}
                                </div>
                            </#if>
                            <div class="widget-body bordered-left bordered-gold">
                                <form role="form" method="POST" id="saveForm">
                                    <div class="form-group">
                                        <div class=" input-group">
                                            <span class="input-group-addon">任务名称</span>
                                            <input name="jobName" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class=" input-group">
                                            <span class="input-group-addon">clientName</span>
                                            <input name="clientName" type="text" class="form-control" placeholder="client端的服务名称，如http://ip:端口号/clientName/">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">SystemId</span>
                                            <input name="systemId" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group has-info">
                                            <span class="input-group-addon">cron表达式</span>
                                            <input name="cronExpression" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group has-info">
                                            <span class="input-group-addon">ip地址</span>
                                            <input name="ip" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group has-info">
                                            <span class="input-group-addon">端口号</span>
                                            <input name="port" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group has-info">
                                            <span class="col-lg-offset-4 col-lg-8">
                                                <span class="btn btn-primary" id="saveBtn">保存</span>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${base}assets/js/jquery-2.0.3.min.js"></script>
<script src="${base}assets/js/jquery.form.js"></script>
<script src="${base}assets/js/bootstrap.min.js"></script>
<script src="${base}assets/js/beyond.min.js"></script>
<script src="${base}assets/js/popMsg.js"></script>
<script>
    $(function () {
        $("#saveBtn").on("click", function () {
            $("#saveForm").submit();
        });
        $("#saveForm").on("submit", function () {
            $("#saveBtn").button("loading");
            $(this).ajaxSubmit({
                url: "${base}monitor/saveJob",
                method: "post",
                success: function (data) {
                    $("#saveBtn").button("reset");
                    if (data.errorCode == 0) {
                        $(".alert-success").show();
                        $(".alert-danger").hide();
                    } else {
                        $(".alert-success").hide();
                        $(".alert-danger").show();
                        $("#errorMsg").text(data.msg);
                    }
                },
                error: function () {
                    $("#saveBtn").button("reset");
                    $(".alert-success").hide();
                    $(".alert-danger").show();
                    $("#errorMsg").text("系统出错");
                }
            });
            return false;
        })
    })

</script>
</body>
</html>
