<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    <title>JOB-SERVER|监控</title>
    <meta name="description" content="simple and responsive tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="${base}assets/img/favicon.png" type="image/x-icon">
    <!--Basic Styles-->
    <link href="${base}assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
    <link href="${base}assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/weather-icons.min.css" rel="stylesheet"/>
    <!--Beyond styles-->
    <link href="${base}assets/css/beyond.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/demo.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/typicons.min.css" rel="stylesheet"/>
    <link href="${base}assets/css/animate.min.css" rel="stylesheet"/>
    <link id="skin-link" href="" rel="stylesheet" type="text/css"/>
    <script src="${base}assets/js/skins.min.js"></script>
</head>
<body>
<div class="loading-container">
    <div class="loading-progress">
        <div class="rotator">
            <div class="rotator">
                <div class="rotator colored">
                    <div class="rotator">
                        <div class="rotator colored">
                            <div class="rotator colored"></div>
                            <div class="rotator"></div>
                        </div>
                        <div class="rotator colored"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
        <div class="rotator"></div>
    </div>
</div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <div class="navbar-header pull-left">
                <span class="manage-logo">JOB-SERVER管理后台</span>
            </div>
        </div>
    </div>
</div>
<div class="main-container container-fluid">
    <div class="page-container">
        <div class="page-sidebar" id="sidebar">
            <div class="sidebar-header-wrapper">

            </div>
            <ul class="nav sidebar-menu">
                <li class="active open">
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-table"></i>
                        <span class="menu-text"> 任务管理 </span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="${base}monitor/jobList">
                                <span class="menu-text">任务列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="${base}monitor/monitor">
                        <i class="menu-icon fa fa-envelope-o"></i>
                        <span class="menu-text"> 监控 </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        监控
                        <small>
                            <i class="fa fa-angle-right"></i>
                            执行情况
                        </small>
                    </h1>
                </div>
                <div class="header-buttons">
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a class="refresh" id="refresh-toggler" href="">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a class="fullscreen" id="fullscreen-toggler" href="#">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
            </div>
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="widget">
                            <div class="widget-header  with-footer">
                                <span class="widget-caption">监控</span>
                            </div>
                            <div class="widget-body">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content bordered-palegreen">
                                        <tr>
                                            <th>系统id</th>
                                            <th>任务名称</th>
                                            <th class="numeric">执行次数</th>
                                            <th class="numeric">失败次数</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <#list monitorList as monitor>
                                            <tr class="${(class)!''}">
                                                <td>${(monitor.systemId)!''}</td>
                                                <td><a href="${base}monitor/monitorDetail/${(monitor.jobId)!''}">${(monitor.jobName)!''}</a>
                                                </td>
                                                <td>${(monitor.executeCount)!''}</td>
                                                <td>${(monitor.failCount)!''}</td>
                                            </tr>
                                        </#list>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${base}assets/js/jquery-2.0.3.min.js"></script>
<script src="${base}assets/js/bootstrap.min.js"></script>
<script src="${base}assets/js/beyond.min.js"></script>
<script src="${base}assets/js/popMsg.js"></script>
<script src="${base}assets/js/bootbox/bootbox.js"></script>
</body>
</html>
